body{
    font-family:  'Roboto',  'sans-serif';
    max-width: 480px;
    
}

h1{
    color: red;
    background-color: black;
}


ol li{
    list-style-position: inside;
    background-color: #f2f2f2;
    margin: 10px;
    border-radius: 15px;
    height: 60px;

}

li::marker{
    border: solid 1px violet;
}
img{
    width: 100%;
}

.dessous{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dessous i{
    font-size: 20px;
    border-color: red;

}




















footer{
    background-color: black;
}

footer ul{
    color: white;
}