* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: -webkit-sticky;
  position: sticky;
}

h2 {
  font-size: 22px;
  margin: 0;
  padding: 20px;
}

h5,
p {
  margin: 5px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.loader {
  background-color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: 0.8;
  -webkit-animation: apparition 2s linear;
          animation: apparition 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes apparition {
  to {
    transform: scale 0;
    z-index: 0;
  }
}

@keyframes apparition {
  to {
    transform: scale 0;
    z-index: 0;
  }
}
.spin::after {
  content: "";
  transform: translate(-50%, -50%);
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  border: 10px solid #99E2D0;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  -webkit-animation: spinning 2s ease-in-out;
          animation: spinning 2s ease-in-out;
  -webkit-animation: disparition 0 2s;
          animation: disparition 0 2s;
}

@-webkit-keyframes spinning {
  to {
    transform: rotate(1turn);
  }
}

@keyframes spinning {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes disparition {
  to {
    transform: scale(0);
    transform: z-index;
  }
}
@keyframes disparition {
  to {
    transform: scale(0);
    transform: z-index;
  }
}
button {
  border-radius: 40px;
  justify-content: center;
  width: auto;
  height: 60px;
  background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
}
button:hover {
  filter: brightness(115%);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
  transition: all linear 0.3s;
}

.heart {
  margin-right: 20px;
}
.heart i {
  font-size: 20px;
  transform: scale(1.1, 1.3);
  position: absolute;
  top: 40%;
  right: 20px;
}
.heart .fa-solid {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all ease-in-out 0.5s;
  opacity: 0;
}
.heart .fa-solid:hover {
  background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  opacity: 1;
}

header {
  margin: 0;
  box-shadow: 0px 3px 3px grey;
  padding: 20px 0;
  font-family: "Shrikhand", "cursive";
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
header i {
  transform: scale(2);
  position: absolute;
  left: 30px;
  top: 35px;
}
header h1 {
  margin: 0;
  text-align: center;
}

footer {
  background-color: rgb(43, 42, 42);
  padding-bottom: 20px;
}
footer h3 {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  padding-top: 20px;
  padding-left: 30px;
}
footer ul {
  margin: 20px;
  padding: 0;
}
footer ul li {
  margin: 10px;
}
footer ul li a {
  color: white;
}
footer ul i {
  margin-right: 10px;
}

.section-1 {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  z-index: 2;
}
.section-1 .header__text {
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
}
.section-1 i {
  margin-right: 15px;
}
.section-1 p,
.section-1 h2 {
  text-align: center;
  white-space: inherit;
}

ol {
  padding: 0;
}
ol li {
  background-color: #f2f2f2;
  border-radius: 15px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
  position: relative;
  font-weight: bold;
}
ol li:hover {
  background: rgba(147, 86, 220, 0.1882352941);
  transition: all ease-out 0.3s;
}
ol li:hover i {
  color: #9356DC;
  transition: all ease-out 0.3s;
}
ol li .number {
  border-radius: 100%;
  background-color: #9356DC;
  display: block;
  height: 25px;
  width: 25px;
  text-align: center;
  position: absolute;
  left: -14px;
  color: white;
  padding-top: 3px;
}
ol li i {
  color: grey;
  margin: 0 20px 0 30px;
}

.restaurants {
  background-color: #f2f2f2;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.restaurants .cards .card {
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  margin: 20px 0;
  background-color: white;
}
.restaurants .cards .card:hover {
  transform: scale(1.02);
  transition: ease-in-out 0.2s;
}
.restaurants .cards .card img {
  height: 200px;
  border-radius: 40px 40px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .cards .card .nouveau {
  position: absolute;
  background-color: #99E2D0;
  right: 40px;
  top: 20px;
  padding: 5px;
  color: green;
  border-radius: 2px;
}
.restaurants .cards .card .dessous {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0 0 40px 40px;
  height: 80px;
  position: relative;
}
.restaurants .cards .card .dessous .texte {
  margin-left: 20px;
}
.restaurants .cards .card .dessous .texte h3,
.restaurants .cards .card .dessous .texte p {
  margin: 5px;
}

@media (min-width: 800px) {
  .section-1 button {
    width: 30%;
  }

  .restaurants .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants .cards .card {
    width: 45%;
  }

  ol {
    display: flex;
    justify-content: space-around;
  }
  ol li {
    width: 30%;
    padding-right: 10px;
  }
}
.background {
  background-color: #f2f2f2;
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -40px;
  padding-top: 20px;
}

.titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}
.titre h2 {
  margin-left: 10px;
  font-family: "Shrikhand", "cursive";
  padding: 0;
}
.titre .heart i {
  top: 32%;
}

.proj {
  margin: 20px;
}
.proj__titre h4 {
  padding-top: 10px;
  margin: 0;
}
.proj__titre--border {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin-bottom: 20px;
}
.proj__card {
  background-color: white;
  border-radius: 20px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  overflow: hidden;
  -webkit-animation: Anim 0.6s linear;
          animation: Anim 0.6s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes Anim {
  0% {
    opacity: 0;
    transform: translateY(7px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Anim {
  0% {
    opacity: 0;
    transform: translateY(7px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.proj__card:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.proj__card:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.proj__card:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.proj__card:nth-child(4) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.proj__card:nth-child(5) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.proj__card:hover .check {
  transition: all ease-out 0.3s;
  width: 80px;
}
.proj__card:hover .check i {
  font-size: 28px;
  color: white;
}
.proj__card:hover .check .fa-circle-check {
  transform: rotate(360deg);
  transition: all ease-out 0.3s;
}
.proj__card:hover .prix {
  transition: all ease-out 0.3s;
  margin-right: 80px;
}
.proj__card .check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  top: 50%;
  right: -1px;
  transform: translate(0, -50%);
  position: absolute;
  background-color: #99E2D0;
  color: transparent;
  height: 102%;
  border-radius: 0 20px 20px 0;
}
.proj__card--flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.proj__card--flex .card__menu {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.proj__card--flex .prix {
  font-weight: bold;
  background-color: white;
  padding: 5px 5px 5px 5px;
}

.button {
  text-align: center;
}
.button button {
  width: 165px;
}

@media (min-width: 800px) {
  .card__flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
  }
  .card__flex .proj {
    width: 32%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */