header {
    margin: 0;
    box-shadow: 0px 3px 3px grey;
    padding: 20px 0;
    font-family: 'Shrikhand', 'cursive';
    width: 100%;
    display: flex;

    position: relative;
    background-color: aqua;
<<<<<<< HEAD
    border: 2px solid red;
=======
>>>>>>> 082aee717ef8f2ae56b5888ba917d14243266ad0
    



    i {
        transform: scale(2);
        position: absolute;
        left: 30px;
        top: 35px;
    }

    h1 {
        margin: 0;
        text-align: center;
    }


}