* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    position: sticky;
}

h2 {
    font-size: 22px;
    margin: 0;
    padding: 20px
}

h5,
p {
    margin: 5px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


}

.loader {

    background-color: rgba(0, 0, 0, $alpha: 0.7);
    position: fixed;
    height: 100%;
    width: 100%;
    @include flexcenter;
    z-index: 5;
    animation: apparition 3s cubic-bezier(1, 0, 1, 0);
    animation-delay: 1s;
    animation-fill-mode: forwards;

    .spin {

        height: 70px;
        width: 70px;
        border: 10px solid $tertiary-color;
        border-top-color: $primary-color;
        border-bottom-color: $secondary-color;
        border-radius: 50%;
        animation: rotation 4s ease-in;


    }
}

@keyframes apparition {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }

}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}