.background {
    background-color: #f2f2f2;
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-top: -40px;
}

.titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h2 {
        margin-left: 10px;
        font-family: 'Shrikhand', 'cursive';
        padding: 0;
    }

}

.proj {
    margin: 20px;

    &__titre {

        h4 {
            padding-top: 10px;
            margin: 0;
        }

        &--border {
            background-color: $tertiary-color;
            width: 40px;
            height: 3px;
            margin-bottom: 20px;
        }

    }

    &__card {
        background-color: white;
        border-radius: 20px;
        margin: 20px 0;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
        overflow: hidden;


        &:hover .check {
            transition: all linear .3s;
            width: 80px;
            
            i {
                font-size: 28px;
                color: white;
            }

        }

        &:hover .check .fa-circle-check {
            transform: rotate(360deg);
            transition: all linear .3s;
        }

        &:hover .prix {
            transition: all linear .3s;
            margin-right: 80px;
        }


        .check {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 0;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            position: absolute;
            background-color: $tertiary-color;
            color: transparent;
            height: 100%;
            border-radius: 0 20px 20px 0;


        }



        &--flex {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .card__menu{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .prix {
                font-weight: bold;
                background-color: white;
                padding: 5px 5px 5px 5px;
            }
        }

    }
}

.button {
    text-align: center;

    button {
        width: 165px;
    }
}

@media (min-width: 800px) {

    .card__flex {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }

    .proj__card {
        width: 32%;
    }
}