.background {
    background-color: #f2f2f2;
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-top: -40px;
    padding-top: 20px;
}

.titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;

    h2 {
        margin-left: 10px;
        font-family: 'Shrikhand', 'cursive';
        padding: 0;
    }

    .heart i {
        top: 32%;
    }
}

.proj {
    margin: 20px;

    &__titre {

        h4 {
            padding-top: 10px;
            margin: 0;
        }

        &--border {
            background-color: $tertiary-color;
            width: 40px;
            height: 3px;
            margin-bottom: 20px;
        }

    }

    &__card {
        background-color: white;
        border-radius: 20px;
        margin: 10px 0;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
        overflow: hidden;
        animation: Anim 2s linear;
        animation-fill-mode: both;

        @keyframes Anim {
            0% {
                opacity: 0;

            }

            100% {
                opacity: 1;
            }
        }

        &:nth-child(1) {
            animation-delay: .5s
        }

        &:nth-child(2) {
            animation-delay: 1s
        }

        &:nth-child(3) {
            animation-delay: 1.5s
        }

        &:nth-child(4) {
            animation-delay: 2s
        }

        &:nth-child(5) {
            animation-delay: 2.5s
        }

        &:hover .check {
            transition: all ease-out .3s;
            width: 80px;

            i {
                font-size: 28px;
                color: white;
            }

        }

        &:hover .check .fa-circle-check {
            transform: rotate(360deg);
            transition: all ease-out .3s;
        }

        &:hover .prix {
            transition: all ease-out .3s;
            margin-right: 80px;
            // transform: translateX(-80px);
        }


        .check {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 0;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            position: absolute;
            background-color: $tertiary-color;
            color: transparent;
            height: 102%;
            border-radius: 0 20px 20px 0;


        }



        &--flex {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .card__menu {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .prix {
                font-weight: bold;
                background-color: white;
                padding: 5px 5px 5px 5px;
            }
        }

    }
}


.button {
    text-align: center;

    button {
        width: 165px;
    }
}

@media (min-width: 800px) {

    .card__flex {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 100%;

        .proj {
            width: 32%;
            display: flex;
            flex-direction: column;
            margin: 0;
        }
    }

}